html, body {
    background-color:black;
    color:white;
    margin: 0;
    padding: 0;
    display:flex;
    height:100vh;
}

canvas {
    display: block;
}

label {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction:row-reverse;
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
}

.container {
    display: flex;
    width: 100%;
    height:600px;
}

.bottomContainer {
    flex:1;
    display: flex; 
    flex-direction: column;
};


#canvasContainer {
    flex:1;
    border:1px solid #ccc; 
    height:100vh;
    margin-right 10px;
}

.full-width-textarea {
    width: 100%;
    height:100vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 32px; /* Change to desired font size */
    background-color:black;
    color:white;
}

.bottomContainer {
    flex:1;
    display: flex;
    flex-direction: column; 
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
